  
First Name {{input valuePath="firstName" id="firstName" class="light input" }}
Last Name{{input id="lastName" class="light input" }}
Phone No{{input id="phone" class="light input" }}
Email id{{input id="email" class="light input" }}
Profession{{input id="profession" class="light input" }}<br><br>
Country{{input id="country" class="light input" }}<br><br>
 <button type="submit" {{action "send"}} class="button">Submit</button>

