<div class="jumbo">
  <h2>About-{{model.fname}}</h2>
<div class="details">
  <ul type="square">
<li>Person Name is {{model.fname}}</li>
<li>His phone Number is {{model.phone}}</li>
<li>His email-id is {{model.email}}</li>
<li>His profession  is {{model.prof}}</li>
</ul></div>
</div>

